@https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css
i{
  color: red;
  font-size: 24px;
}
body {
      text-align: center;
      margin-top: 50px;
      font-family: Arial, sans-serif;
    }