.container {
  background-color: black;
  width: 500px;
  height: auto;
  border: 2px solid #000;
  margin: 50px auto;
  border-radius: 15px;
  padding: 30px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  width: 390px;
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  font-size: xx-large;
}
#cancel {
  background: white;
  color: black;
  font-size: xx-large;
  width: 80px;
  height: 90px;
  border-radius: 7px;
}

.allbuttons {
  display: grid;
  grid-template-columns: 130px 130px 130px auto;
  grid-template-rows: 100px 100px 100px 100px ;
  gap: 10px;
}

.btn {
  background:white;
  color:black;
  font-size: xx-large;
  border-radius: 7px;
}

button:active{
    background: grey;
}


#cancel:active{
    background:red;
}