body{
    background-color: #0a6ddf;
    display: flex;
}
.box{
    border: 1px solid black;
    background-color: white;
    border-radius: 9px;
    padding: 9px;
}
#loginbox{
    margin-right: 40px;

}
#Registrationbox{
    margin-left: 40px;
    

}
#heading1 span{
    text-decoration: underline;
    text-decoration-color: blue;
}
#heading2 span{
    text-decoration: underline;
    text-decoration-color: blue;
}
.allinput{
    margin-top: 15px;
    margin-bottom: 15px;
    label{
        font-size: 0px;
        margin-right: 10px;
    }
}
input{
    width: 250px;
    height: 25px;
    padding-left: 5px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid black;
}
button{
    width: 100px;
    height: 30px;
    background-color: #0a6ddf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


