h1{
    width: 200px;
    border: 1px solid black;
    margin-left: 0px;

}
h1:hover{
    width: 300px;
    transition: width 2s, background-color 0s;
}
.outer{
    border: 1px solid black;
    width: 400px;
    height: 50px;
    #inner{
        width: 1%;
        height: 100%;
        background-color: rgb(247, 61, 9);
    }
}    

.outer:hover{
    #inner{
        width: 100%;
        background-color: green;
        transition: width 5s ease-in-out,background-color 5s ease-in-out;

    }
    

}
.outer1{
    width: 400px;
    height: 50px;
     border: 1px solid rgb(0, 0, 0);
    #inner{
        height: 50px;
    }
}    

.outer1:hover{
    #inner1{
        animation: myAnimation 5s linear;

    }  
}
@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
    
}

#d2{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    font-size: xx-large;
    
}
#d2:hover{
    transform: rotate(180deg);
    transition: transform 2s;
}