@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 100px;
    margin-right: 120px;
    font-family: 'Roboto', sans-serif;
}



#myresume{
    margin-top: 200px;
    display: flex;
    gap: 370px;
    #resume{
        p{
            margin-top: 10px;
        }
        button{
            margin-top: 25px;
            background-color: white;
            border: none;
        }
        button:hover{
            background-color: rgb(199, 199, 199); 
            
        }
    }
    #certificate{
        img{
            width: 40px;
            height: 40px;
            border-radius: 7px;
        }
        span{
            font-size: 17px;
            color: gray;
            

        }


    }
}


#myprojectheading{
    margin-top: 150px;
    text-align: center;
    h1{
        font-size: 37px;
    }
}
#myprojects{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    .project{
        img{
           width:  300px;
           height: 90;
        }
        h3{
            margin-top: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }  
        button{
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            margin-top: 15px;
            width: 110px;
            height: 35px;
            border-radius: 7px;
        }
        button:hover{
            box-shadow: 0px 1px 10px 1px gray;
        } 
    }
}
#myprojects1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    .project1{
        img{
           width:  300px;
           height: 90;
        }
        h3{
            margin-top: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }  
        button{
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            margin-top: 15px;
            width: 110px;
            height: 35px;
            border-radius: 7px;
        }
        button:hover{
            box-shadow: 0px 1px 10px 1px gray;
        } 
    }
}


#myskillheading{
    margin-top: 100px;
    text-align: center;
    h1{
        margin-top: 10px;
        font-size: 48px;
    }
}
#myskills{ 
    margin-top: 100px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 50px;
    text-align: center;

    .skill{
        padding: auto;
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
   
}
    


#clients{
    .b{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    #clientslogo{
        display: flex;
        justify-content:center;
        gap: 20px;
        margin-top: 40px;
        img{
            width: 160px;
            height: 80px;
        }
    }
}



#nevbar{
    width: 100%;
    height: 70px;
    background-color:rgb(255, 255, 255,0.97);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    h3{
        margin-top: 22.5px;
    }
}
#nevlinks{
    display: flex;
    gap: 20px;
   
    align-items: center;
    margin-left: 20px;
    img{
        width: 17px;
        height: 17px;
    }
}
#nevbtn{
    display: flex;
    gap: 10px;
    
    #signupbtn{
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px 28px;
        border-radius: 10px;
    }
    #loginbtn{
        border: none;
        background-color: white;
        color: solid black;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px 25px;
        border-radius: 10px;
    }
}

#nevbtn{ 
    #loginbtn:hover{
        background-color: rgb(199, 199, 199);  
}
}

#signupbtn:hover{
    box-shadow: 0px 1px 10px 1px gray;
}
    
#welcomepage{
    display: flex;
    justify-content: space-between;
    #welcometext{
        margin-top: 100px;
        h1{
            margin-top: 50px;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2;
        }
        .pwel{
            margin-top: 20px;
            font-size: 20px;
            color: gray;
            line-height: 1.8;
        }
        #offerform{
            margin-top: 15px;
            input{
                margin-top: 10px;
                width: 357px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid rgb(134, 154, 176);
                padding-left: 15px;
                &::placeholder{
                    color: rgb(78, 101, 126);
                }
            }
            button{
                width: 145px;
                height: 44px;
                margin-left: 10px;
                border-radius: 10px;
                border: none;
                background-color: black;
                color: white;
            }
        }
    }
    img{
        margin-top: 35px;
        width: 635px;
        height: 575px;
        border-radius: 10px;
    }

        
}
p{
    font-size: 16px;
    color: gray;
    line-height: 1.7;
}
a{
    text-decoration: none;
    color: gray;
    text-underline-position: below;
}


.p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: gray;
    line-height: 1.8;
}




