@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 100px;
    margin-right: 120px;
    font-family: 'Roboto', sans-serif;
}



#myresume{
    margin-top: 200px;
    display: flex;
    gap: 370px;
    #resume{
        p{
            margin-top: 10px;
        }
        button{
            margin-top: 25px;
            background-color: white;
            border: none;
        }
        button:hover{
            background-color: rgb(199, 199, 199); 
            
        }
    }
    #certificate{
        img{
            width: 40px;
            height: 40px;
            border-radius: 7px;
        }
        span{
            font-size: 17px;
            color: gray;
            

        }


    }
}


#myprojectheading{
    margin-top: 150px;
    text-align: center;
    h1{
        font-size: 37px;
    }
}
#myprojects{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    .project{
        img{
           width:  300px;
           height: 90;
        }
        h3{
            margin-top: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }  
        button{
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            margin-top: 15px;
            width: 110px;
            height: 35px;
            border-radius: 7px;
        }
        button:hover{
            box-shadow: 0px 1px 10px 1px gray;
        } 
    }
}
#myprojects1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    .project1{
        img{
           width:  300px;
           height: 90;
        }
        h3{
            margin-top: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }  
        button{
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            margin-top: 15px;
            width: 110px;
            height: 35px;
            border-radius: 7px;
        }
        button:hover{
            box-shadow: 0px 1px 10px 1px gray;
        } 
    }
}


#myskillheading{
    margin-top: 100px;
    text-align: center;
    h1{
        margin-top: 10px;
        font-size: 48px;
    }
}
#myskills{ 
    margin-top: 100px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 50px;
    text-align: center;

    .skill{
        padding: auto;
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
   
}
    


#clients{
    .b{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    #clientslogo{
        display: flex;
        justify-content:center;
        gap: 20px;
        margin-top: 40px;
        img{
            width: 160px;
            height: 80px;
        }
    }
}



#nevbar{
    width: 100%;
    height: 70px;
    background-color:rgb(255, 255, 255,0.97);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    h3{
        margin-top: 22.5px;
    }
}
#nevlinks{
    display: flex;
    gap: 20px;
   
    align-items: center;
    margin-left: 20px;
    img{
        width: 17px;
        height: 17px;
    }
}
#nevbtn{
    display: flex;
    gap: 10px;
    
    #signupbtn{
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px 28px;
        border-radius: 10px;
    }
    #loginbtn{
        border: none;
        background-color: white;
        color: solid black;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px 25px;
        border-radius: 10px;
    }
}

#nevbtn{ 
    #loginbtn:hover{
        background-color: rgb(199, 199, 199);  
}
}

#signupbtn:hover{
    box-shadow: 0px 1px 10px 1px gray;
}
    
#welcomepage{
    display: flex;
    justify-content: space-between;
    #welcometext{
        margin-top: 100px;
        h1{
            margin-top: 50px;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2;
        }
        .pwel{
            margin-top: 20px;
            font-size: 20px;
            color: gray;
            line-height: 1.8;
        }
        #offerform{
            margin-top: 15px;
            input{
                margin-top: 10px;
                width: 357px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid rgb(134, 154, 176);
                padding-left: 15px;
                &::placeholder{
                    color: rgb(78, 101, 126);
                }
            }
            button{
                width: 145px;
                height: 44px;
                margin-left: 10px;
                border-radius: 10px;
                border: none;
                background-color: black;
                color: white;
            }
        }
    }
    img{
        margin-top: 35px;
        width: 635px;
        height: 575px;
        border-radius: 10px;
    }

        
}
p{
    font-size: 16px;
    color: gray;
    line-height: 1.7;
}
a{
    text-decoration: none;
    color: gray;
    text-underline-position: below;
}


.p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: gray;
    line-height: 1.8;
}




#myDetail {
  display: flex;       
  align-items: center;      
  justify-content: space-around;
  gap: 5px;
  padding: 25px;
  gap: 40px;                    
  padding: 40px;
  background-color: white;    
  color: black;              
}
.detail{
  width: 600px;
}
#myDetail h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: black  
            
}
.img{
    img{
        height: 300px;
        width: 200px;
    }
}

#myDetail h3 {
  font-size: 25px;
  color: rgb(138, 126, 126);
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 25px;
}

#contact {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputField {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

#contact label {
  flex-direction: column;
  color: rgb(54, 53, 53);
  font-size: 20px;
  
}

#contact input {
  color: rgb(100, 99, 99);
  width: 300px;
  height: 30px;
  padding: 10px;
  font-size: 20x;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}

#contact button {
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px; 
  font-size: 18px;
}
.condition{
   color: rgb(134, 132, 132);
   font-size: 20px;
}

#contact button:hover {
  background-color: #0097a7;
}


#contact a {
  color: rgb(176, 171, 171);
  text-decoration: underline;
}
#contact a:hover {
  text-decoration: underline;
}


#myDetail img {
  width: 700px;
  height: 700px;
  border-radius: 15px;
  margin-right: 75px;
  object-fit:fill;
  box-shadow: 0 0 15px rgba(0, 188, 212, 0.5);
}

#myIcons{
  text-align: center;
  display:inline;
  padding: 20px;
  align-content: center;

}
.subDiv{

  
  display:inline-flexbox;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;
   
  }
.subDiv img{
      width: 200px;
      height: 200px;
   }
#skills{
  display: block;
  justify-content:space-between;
  align-content: center;
  text-align: center;


}
#im{
    img{
        width: 300px;
        height: 300px;
    }
}
#skills h4{
  font-size:22px;
}
#skills h1{
  font-size:50px;
}

#skills h3{
  padding-left: 90px;
  margin-left:60px;
  align-items: center;
  font-size:23px;
  color: rgb(184, 181, 181);
}
#d1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 20px;
  margin: 20px auto;
  

}

.btn1{
  text-align: start;
  width: 140px;
  height: 30px;
 padding: 8px 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px; 
  font-size: 18px;
  display: block;

}

#client{
  display: flex;
}
.subDiv1{
  display:inline-flexbox;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;
}
.subDiv1 img{
  border: none;
      width: 200px;
      height: 200px;
      background-color:white;
      filter: grayscale(100%);
      color:aliceblue   
}
#ids{
    margin-top: 50px;
   display: flex;       
  align-items: center;      
  justify-content: space-around;
  gap: 5px;
  padding: 25px;
  gap: 40px;                    
  padding: 40px;
  background-color: white;  
  border: 2px solid rgb(250, 247, 247);
  border-radius: 20px ;  
  box-shadow: 8px;
  color: rgb(39, 37, 37);  
}
.id{
  padding-top: 50px;
  padding-left: 60px;
  margin: 100px;
  gap: 25%;
  width: 700px;
  height: 450px;
  border: 1px solid black;
  background-color: rgb(33, 31, 31);
  h3{
    color: white;
    font-size: 40px;
  }
  p{
    color: beige;
    font-size: 20px;
  }
  h2{
    color: white;
    font-size: 25px;
  }

}
#forField {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
   gap: 25px;
}
#forField label {
  font-size: 20px;
  color: #8c9bb9;
  margin-bottom: 5px;
  display: inline-block;
}
#forField input[type="text"],
#forField input[type="email"] {
  
  border: none;
  border-bottom: 2px solid #333;
  padding: 8px 0;
  outline: none;
  width: 100%;
  font-size: 18px;
  background: transparent;
}
#forField input[type="text"]:focus,
#forField input[type="email"]:focus {
  border-bottom: 2px solid black;
}
#forField span{
  display: flex;
  gap: 12px;
  align-items: center;
}

#forField span label {
  margin-right: 10px;
  font-size: 17px;
  color: #b7b0b0;
}
#forField span input{
  transform: scale(1.3);
  margin-right: 6px;

}
#forField input[type="radio"] {
  transform: scale(1.3);
  margin-right: 6px;
}
#forField button {
  background-color:black;
  color: white;
  border: none;
  padding: 10px 0;
  width: 240px;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 70%;
}
.nameRow{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nameRow div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#forField h1{
  color:  #8c9bb9;
  font-size: 30px;
}
#ladtNavBar{
  border: none;
  background-color: white;
  border-radius: 2px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 10%;
  
  
}
#ladtNavBar h1{
  padding-right: 18px;
  font-size: 15px;
  color: #868181 ;

}
#ladtNavBar button{
  gap:100%;
  margin:8px;
  padding: 10px;
  background-color: white;
  border: none;
  font-size: 15px;
  color: #868181 ;
  
}
#ladtNavBar div{
    display: flex;
  .sub{
  background-color:black;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  }
}
 




