body{
    align-items: center;
}
#container{
    margin: 150px;
    padding: 50px;
    border: 2px solid black;
    height: 300px;
    width: 700px;
    align-items: center;
    display: flex;
    gap: 20px;
}
#box1{
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    h1{
        text-align: center;
    }

}
#box2{
    border: 1px solid black;
    height: fit-content;
    width: fit-content;

}